@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    &__heading {
        font-size: 1.2rem;
        background-image: linear-gradient(20deg, $color-watermark, rgba(209, 209, 209, 0.212));
        background-clip: text;
        font-family: $font-heading;
        font-weight: 700;
        -webkit-text-fill-color: transparent; 
    }
}

@media screen and (max-width: 900px) {
    .watermark {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        &__heading {
            font-size: 1rem;
            background-image: linear-gradient(20deg, $color-watermark, rgba(209, 209, 209, 0.212));
            background-clip: text;
            font-family: $font-heading;
            font-weight: 700;
            -webkit-text-fill-color: transparent; 
        }
    }
}