

$color-main: rgba(255, 255, 255, 0.832);
$color-main-grey: rgba(91, 91, 91, 0.892);
$color-grey-light: rgba(134, 134, 134, 0.892);
$color-grey-lighter: rgba(176, 176, 176, 0.892);
$color-shadow: rgba(206, 255, 239, 0.169);
$color-watermark: rgba(206, 255, 239, 0.412);
$color-secondary: #ACFFCC;
$color-third: rgba(128, 128, 128, 0.44);
