@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.cardList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10rem;
}