@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;


.home {
    margin: 1rem 2rem 2rem 2rem;
    font-family: $font-heading;

    &__heading {
        height: 10rem;
        margin: 1rem 0;
        &--trainee {
            position: relative;
            animation-name: trainee;
            animation-duration: 2s;
            animation-iteration-count: 1;
            margin-left: 10vw;
            font-size: 2.5rem;
            color: $color-main-grey;
        }
    
        &--software {
            position: relative;
            animation-name: software;
            animation-duration: 2s;
            animation-iteration-count: 1;
            margin-left: 20vw;
            font-size: 2.5rem;
            color: $color-grey-light;
        }
    
        &--developer {
            position: relative;
            animation-name: developer;
            animation-duration: 2s;
            animation-iteration-count: 1;
            margin-left: 35vw;
            font-size: 2.5rem;
            color: $color-grey-lighter;
        }

        &--project {
            margin-left: 10vw;
            padding: 2rem 0;
            color: $color-main;
        }
    
        @keyframes trainee {
            from {
                margin-left: 0;
            }
    
            to {
                margin-left: 10vw;
            }
        }
    
        @keyframes software {
            from {
                margin-left: 0;
            }
            to {
                margin-left: 20vw;
            }
        }
    
        @keyframes developer {
            from {
                margin-left: 0;
            }
    
            to {
                margin-left: 35vw;
            }
        }

    }
    
    &__info {
        &--greeting {
            font-size: 1rem;
            margin-left: 10vw;
            color: $color-main;
        }
        &--name {
            color: $color-secondary;
            font-size: 2rem;
            margin-left: 10vw;
        }
        &--welcome {
            font-size: 1rem;
            margin-left: 10vw;
            color: $color-main;
        }
    }

    &__carousel-container {
        animation: carousel 4s ease-in-out 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--heading {
            color: $color-main;
            padding: 2rem 0 0 0;
            text-align: center;
        }
    }


    @keyframes carousel {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }

}

@media screen and (max-width: 900px) {
    .home {
        margin: 1rem 2rem 2rem 2rem;
        font-family: $font-heading;
        &__heading {
            height: 5rem;
            margin: 2rem 0;
            &--trainee {
                position: relative;
                animation-name: trainee;
                animation-duration: 2s;
                animation-iteration-count: 1;
                margin-left: 10vw;
                font-size: 1.5rem;
                color: $color-main-grey;
            }
        
            &--software {
                position: relative;
                animation-name: software;
                animation-duration: 2s;
                animation-iteration-count: 1;
                margin-left: 20vw;
                font-size: 1.5rem;
                color: $color-grey-light;
            }
        
            &--developer {
                position: relative;
                animation-name: developer;
                animation-duration: 2s;
                animation-iteration-count: 1;
                margin-left: 35vw;
                font-size: 1.5rem;
                color: $color-grey-lighter;
            }
    
            &--project {
                margin-left: 10vw;
                padding: 2rem 0;
                color: $color-main;
            }
        
            @keyframes trainee {
                from {
                    margin-left: 0;
                }
        
                to {
                    margin-left: 10vw;
                }
            }
        
            @keyframes software {
                from {
                    margin-left: 0;
                }
                to {
                    margin-left: 20vw;
                }
            }
        
            @keyframes developer {
                from {
                    margin-left: 0;
                }
        
                to {
                    margin-left: 35vw;
                }
            }
    
        }
        
        &__info {
            &--greeting {
                font-size: 1rem;
                margin-left: 10vw;
                color: $color-main;
                font-size: 0.8rem;
            }
            &--name {
                color: $color-secondary;
                font-size: 1.5rem;
                margin-left: 10vw;
            }
            &--welcome {
                font-size: 0.8rem;
                margin-left: 10vw;
                color: $color-main;
            }
        }
    
        &__carousel-container {
            animation: carousel 4s ease-in-out 1;
            &--heading {
                color: $color-main;
                padding: 2rem 0 -1rem 0;
                text-align: center;
                font-size: 1rem;
            }
        }
    
    
        @keyframes carousel {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 100;
            }
        }
    
    }
}