@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.icon {
    
    animation: icon 2s ease-in-out 1;

    &__image {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        border: 3px solid $color-secondary;
    }

    @keyframes icon {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }
}