@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.experiences {
    padding: 14rem 2rem 2rem 2rem;
    font-family: $font-heading;

    &__heading {
        margin-left: 10vw;
        animation: heading 2s ease-in-out 1;
        color: $color-main;
    }

    @keyframes heading {
        from {
            margin-left: 0;
        }
        to {
            margin-left: 10vw;
        }
    }
}