@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.experiences {
    padding: 14rem 2rem 2rem 2rem;
    font-family: $font-heading;
    animation: experiences 1s ease-in-out 1;
    &__heading {
        margin-left: 10vw;
        color: $color-main;
    }

    @keyframes experiences {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}