@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-watermark;
    border-radius: 1rem;
    width: 70vw;
    height: 50vh;

    &image {
        box-shadow: 0px 10px 20px $color-main;
        display: block;
        width: 80%;
        border-radius: 15px;
    }

    &__arrow {
        display: block;
        height: 2.5rem;
        &--right {
            &:hover {
                animation: right 0.5s linear infinite both;
            }
        }
        &--left {
            &:hover {
                animation: left 0.5s linear infinite both;
            }
        }

        &:hover {
            cursor: pointer;
        }

        @keyframes left {
            0% {
                transform: translate(0);
            }
            20% {
                transform: translate(-1px, 1px);
            }
            50% {
                transform: translate(-1px, -1px);
            }
            75% {
                transform: translate(1px, 1px);
            }
            100% {
                transform: translate(0);
            }
        }

        @keyframes right {
            0% {
                transform: translate(0);
            }
            20% {
                transform: translate(-1px, 1px);
            }
            50% {
                transform: translate(-1px, -1px);
            }
            75% {
                transform: translate(1px, 1px);
            }
            100% {
                transform: translate(0);
            }
        }

    }
}