@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;




.projects {
    padding: 14rem 2rem 2rem 2rem;
    font-family: $font-heading;

    &__heading {
        margin-left: 10vw;
        animation: heading 2s ease-in-out 1;
        color: $color-main;
    }
    &__carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: carousel 4s ease-in-out 1;
    }

    @keyframes heading {
        from {
            margin-left: 0;
        }
        to {
            margin-left: 10vw;
        }
    }

    @keyframes carousel {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }
}