@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;


.projects {
    padding: 1rem 2rem 2rem 2rem;
    font-family: $font-heading;
    animation: projects 2s ease-in-out 1;
    &__info {
        margin: -2rem 2rem 0rem 10vw;
        color: $color-grey-light;
        font-size: 0.8rem;
    }
    &__heading {
        margin: 0 0 2rem 10vw;
        color: $color-main;
    }

    @keyframes projects {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

}

@media screen and (max-width: 900px) {
    .projects {
        padding: 1rem 2rem 2rem 2rem;
        font-family: $font-heading;
        animation: projects 2s ease-in-out 1;
        &__info {
            margin: -2rem 2rem 0rem 10vw;
            color: $color-grey-light;
            font-size: 0.8rem;
        }
        &__heading {
            margin: 1rem 0 2rem 10vw;
            color: $color-main;
            font-size: 1.5rem;
        }
    
        @keyframes projects {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    
    }
}
