@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;


.aboutme {
    margin: 14rem 2rem 2rem 2rem;
    font-family: $font-heading;
    animation: aboutme 1s ease-in-out 1;

    &__heading {
        margin-bottom: 2rem;
        margin-left: 10vw;

        color: $color-main;
    }
    &__info {
        margin: 0 10vw;
        padding: 1rem;
        background: $color-shadow;
        border-radius: 5px;
        color: $color-main;
    }

    @keyframes aboutme {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

}