@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    &__links {
        padding-top: 2rem;
        display: flex;
        width: 70vw;
        justify-content: space-between;
        align-items: center;
        &--home, &--aboutme, &--projects, &--experiences, &--skills {
            text-decoration: none;
            font-size: 1rem;
            font-family: $font-link;
            height: 2.1rem;
            color: $color-main;
            &:hover {
                border-bottom: 4px solid $color-secondary;
                margin-bottom: -4px;
                border-radius: 1px;
                color: $color-secondary;
            }
        }

    }
    &__divider {
        top: 13rem;
        width: 80vw;
        border: 2px solid $color-third;
        border-radius: 5px;
        z-index: -1;
    }
}